@charset "UTF-8";

:root{
    --cor0: #8bcb78;
    --cor1: #54684e;
    --cor2: #6abd50;
    --cor3: #383d36;
    --cor4: #283324; 
    --cor5: #720808;
    --fonte-padrao: sistem-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}


body{
}

div#imagem{
    background-attachment: fixed;
}