@charset "UTF-8";

@font-face {
    font-family: 'Friendly';
    src: url(fontes/FriendlySans-Regular.ttf) format(TrueType );
}
@font-face {
    font-family: 'Article';
    src: url(fontes/Article\ Premier.ttf) format(TrueType);
}

:root{
    --cor0: #8bcb78;
    --cor1: #54684e;
    --cor2: #6abd50;
    --cor3: #383d36;
    --cor4: #283324; 
    --cor5: #720808;
    --fonte-padrao: Arial, Helvetica, sans-serif;
    --fonte-destaque: 'Friendly';
    --fonte-destaque2: 'Article';
    --fonte-imagem: 'Material Symbols Outlined';
}

body{
    background-color: rgb(206, 214, 136);
}
header{
    font-family: var(--fonte-destaque1);
    font-size: 2em;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 1px 0px 1px 10px;
    border-radius: 10px 10px 0px 0px;
    margin: 0px 500px 0px 500px;
    min-width: 300px;
    max-width: 1000px;
    display: flex;
}
header > h1{
    text-indent: 50px;
}

nav{
    background-color: rgb(255, 255, 255);
    border-radius: 0px 0px 10px 10px;
    margin: 0px 500px 0px 510px;
    min-width: 300px;
    max-width: 1000px;
}
nav > a{
    color: var(--cor5);
    font-weight: bold;
    font-family: var(--fonte-destaque1);
    text-decoration: none;
    padding: 0px 25px 0px 25px;
}

nav > a:hover{
    background-color: #6abd50;
    color: black;
    padding: 5px 5px 0px 5px;
    text-decoration: none;
}

main{
    background-color: rgb(255, 255, 255);
    font-family: var(--fonte-padrao);
    box-shadow: #54684e;
    border-radius: 10px;
    margin: 0px 500px 0px 500px;
    min-width: 300px;
    max-width: 1000px;

}
main h2{
    color: var(--cor1);
    text-align: justify;
    text-indent: 15px;
}
main p { 
    color: rgb(0, 0, 0);
    text-indent: 15px;
    padding-bottom: 15px;
}

main img{
    width: 100%;
}

main img.pequena{
    max-width: 350px;
    display: block;
    margin: auto;
}

div.video{
   background-color: black;
   margin: 0px ;
   padding: 20px;
   padding-bottom: 20%;
   position: relative;
}



aside > ul{
    list-style-type: '\🌐\00a0';
    list-style-position: inside;
    columns: 1;
}

footer{
    text-align: center;
    margin: -20px 150px 0px 150px;
    background-color: black;
    color: white;
    padding: ;
    
}