@charset "UTF-8";

:root{
    --cor0: #8bcb78;
    --cor1: #54684e;
    --cor2: #6abd50;
    --cor3: #383d36;
    --cor4: #283324; 
    --cor5: #720808;
}
::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    background-color: rgb(255, 255, 255);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    padding: 30px;
    text-align: center;
    background-color: white;
    color: #54684e;
}
header h1{
    font-size: 3em;
    text-shadow: 10px 0px 2px #69975952;
}
header img{
    width: 100%;
    height: 150px;
    background-position: center;
}

nav{
    background-color: #72ab6a;
    padding: 0px;
}
div#navegacao{
    display: flex;
    flex-flow: row wrap;
    align-content: center;
}
div.item{
    border: 1px solid white;
    flex: auto;
}
a{
    padding: 2px;
    color: black;
    text-decoration: none;
}

main{
    flex: 1;
}

div#principal{
    margin-top: 100px;
}

.conteudo{
    padding: 10px;
    height: auto;
}
.conteudo h2{
    padding-bottom: 5px;
    color: #720808;
    text-align: left;
}

.conteudo p{
    padding: 5px;
}

strong{
    color: #72ab6a;
}
strong.produto{
    color: #720808;
}

div#lista{
    list-style: none;
    border: 1px solid black;
    margin-bottom: 5px;
    border-radius: 10px;
    text-align: center;
    
}
div#lista h3{
    list-style: none;
    color: #54684e;
    font-weight: bold;
}
div#lista p{
    padding-bottom: 5px;
}

.imagem{
    width: 100%;
    background-color: rgb(30, 27, 27);
    color: white;
    box-shadow: 2px rgba(17, 17, 17, 0.803);
    background-size: cover;
    background-attachment: fixed;
}

div#img3{
    background-image: url('./imagemmobile/3.1.jpeg');
    background-position: center;
    height: 300px;
}

div#img12{
    background-image:url('./imagemmobile/12.1.jpeg');
    background-position: center right;
    height: 300px;
}

div#cardapio{
    width: 70%;
    height: 40px;
    background-color: #720808;
    margin: 0px 0px 5px 55px;
    border: 1px solid rgba(0, 0, 0, 0.345);
    border-radius: 10px;
    color: white;
    text-align: center;
}

a#link{
    color: white;
}

div#contato{
    display: block;
    margin: 20px;
    text-align: center;
}

div#contato li{
    display: inline-block;
    list-style-type: none;
    text-decoration: none;
}

div#contato img{
    border-radius: 10px;
    width: 70px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.336);
    box-sizing: border-box;
}

div#contato img:hover{
    border: 2px solid rgba(255, 255, 255, 0.61);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.61);
    transition: transform 0.5s, border 1s;
}

div#local{
    display: block;
    margin: 5px;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
}